<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-7">
      <h2 class="customer_title">マイページ</h2>
      <p><strong class="info_link">登録情報</strong>
        <%= link_to '編集する', edit_customers_path, class: "btn btn-success edit_btn" %>
      </p>

      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <td class="info, col-xs-2 table-active">氏名</td>
            <td class="text-left"><%= @customer.last_name %><%= @customer.first_name %></td>
          </tr>
          <tr>
            <td class="info, col-xs-2 table-active">カナ</td>
            <td class="text-left"><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <td class="info, col-xs-2 table-active">郵便番号</td>
            <td class="text-left"><%= @customer.postcode %></td>
          </tr>
          <tr>
            <td class="info, col-xs-2 table-active">住所</td>
            <td class="text-left"><%= @customer.address %></td>
          </tr>
          <tr>
            <td class="info, col-xs-2 table-active">電話番号</td>
            <td class="text-left"><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <td class="info, col-xs-2 table-active">メールアドレス</td>
            <td class="text-left"><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>

      <p class="index_btn">
        <strong class="shipping_link">配送先</strong>
        <%= link_to '一覧を見る', shipping_addresses_path, class: "btn btn-primary w-25" %>
      </p>
      <p class="index_btn">
        <strong class="order_link">注文履歴</strong>
        <%= link_to '一覧を見る', orders_path, class: "btn btn-primary w-25" %>
      </p>

    </div>
  </div>
</div>