<div class="container">
  <div class="row justify-content-md-left">
    <h4 class="col offset-md-1"><strong>商品一覧</strong><span class="small">(全<%= @products_all.count %>件)</span></h4>
  </div>
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-md-2 offset-md-1">
      <%= link_to product_path(product.id) do %>
        <%= attachment_image_tag(product, :image, fallback: "no_image.jpg", size:'100x100') %>
      <% end %>
      <P><%= product.name %></P>
      <P>￥<%= product.price %></P>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-auto mx-auto"><%= paginate @products %></div>
  </div>
</div>