<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <%= attachment_image_tag(@product, :image, fallback: "no_image.jpg", size:'100x100') %>
    </div>
    <div class="col-md-5">
      <h3 class="product-box"><%= @product.name %></h3>
      <P class="product-box"><%= @product.description %></P>
      <h5 class="product-box">￥<%= ((@product.price*1.10).to_i).to_s(:delimited) %><span class="small">（税込）</span></h5>
      <%= form_with model: @cart, local:true do |f| %>
        <a class="product-price">
        <%= f.select :quantity, options_for_select((1..10).to_a), include_blank: "個数選択" %>
        </a>

        <%= form_for(@cart) do |f| %>
          <% if customer_signed_in? %>
            <%= f.hidden_field :customer_id, :value => current_customer.id %>
          <% end %>
          <%= f.hidden_field :product_id, :value => @product.id %>
          <%= f.submit "カートに入れる", class: "glyphicon glyphicon-shopping-cart btn btn-success" %>
        <% end %>

      <% end %>
    </div>
  </div>
</div>