<h3><%= @customer.last_name %><%= @customer.first_name %>の会員情報編集</h3>
<%= form_with model: @customer, url: admin_customer(@customer), method: :patch, local:true do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.label "会員ID" %>
    </div>
    <div class="col-md-4">
      <%= @customer.id %>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-4">
      <%= f.label "氏名" %>
    </div>
    <div class="form-group col-md-4">
      <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.label "フリガナ" %>
    </div>
    <div class="form-group col-md-4">
      <%= f.text_field :last_name_kana, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= f.text_field :first_name_kana, autofocus: true, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.label "郵便番号(ハイフンなし)" %>
    </div>
    <div class="form-group col-md-4">
      <%= f.text_field :postcode, autofocus: true, class: "form-control" %>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.label "住所" %>
    </div>
    <div class="form-group col-md-8">
      <%= f.text_field :address, autofocus: true, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.label "電話番号(ハイフンなし)" %>
    </div>
    <div class="form-group col-md-4">
      <%= f.text_field :phone_number, autofocus: true, class: "form-control" %>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.label "メールアドレス" %>
    </div>
    <div class="form-group col-md-4">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.label "会員ステータス" %>
    </div>
    <div class="col-md-4">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="col-md-3">
    <%= f.submit "変更を保存", class: "btn btn-success btn-block" %>
  </div>
<% end %>