<div class="container">
  <div class="row">
    <h4 class="col offset-md-1 mb-md-5">注文履歴詳細</h4>
  </div>
  <div class="row mb-md-5">
    <div class="col-md-2 mb-md-2">購入者</div>
    <div class="col-md-10">
      <%= link_to admin_customer_path(@order) do %>
        <%= @order.customer.full_name %>
      <% end %>
    </div>
    <div class="col-md-2 mb-md-2">注文日</div>
    <div class="col-md-10">
      <%= @order.created_at.strftime('%Y/%m/%d') %>
    </div>
    <div class="col-md-2 mb-md-2">配送先</div>
    <div class="col-md-10">
      <p><%= @order.postcode %><%= @order.address %></p>
      <p><%= @order.name %></p>
    </div>
    <div class="col-md-2 mb-md-2">支払方法</div>
    <div class="col-md-10">
      <%= @order.payment_method %>
    </div>
    <div class="col-md-2 mb-md-2">注文ステータス</div>
    <div class="col-md-2">
      <%= form_with model: @order, url: admin_order_path(@order), method: :patch, local:true do |f| %>
        <%= f.select :order_status, Order.order_statuses.keys.map {|k| [k, k]}, {}, { class: "form-control", style: 'margin-bottom: 15px;', data: {} } %>
        <%= f.submit '更新', class: 'btn btn-success inline' %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @order_products.each do |order_product| %>
            <tr>
              <td>
                <%= order_product.product.name %>
              </td>
              <td>
                <%= (order_product.with_tax_price).to_s(:delimited) %>
              </td>
              <td>
                <%= order_product.quantity %>
              </td>
              <td>
                <%= (order_product.with_tax_price * order_product.quantity).to_s(:delimited) %>
              </td>
                <%= form_with(model:[:admin, @order, order_product], local: true) do |f| %>
              <td>
                <%= f.select :production_status, OrderedProduct.production_statuses.keys.map {|k| [k, k]}, {}, { class: "form-control", style: 'margin-bottom: 15px;', data: {} } %>
              </td>
              <td>
                <%= f.submit '更新', class: 'btn btn-success' %>
              </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-3 mt-auto">
      <ul class="list-inline">
        <li class="list-inline-item">商品合計</li>
        <li class="list-inline-item"><%= (@order.total_price).to_s(:delimited) %>円</li>
      </ul>
      <ul class="list-inline">
        <li class="list-inline-item">送料</li>
        <li class="list-inline-item"><%= @order.postage %>円</li>
      </ul>
      <ul class="list-inline">
        <li class="list-inline-item">請求金額合計</li>
        <li class="list-inline-item"><%= (@order.total_price + @order.postage).to_s(:delimited) %>円</li>
      </ul>
    </div>
  </div>