<div class="container">
  <div class="row">
    <h4 class="col offset-md-1">配送先編集</h2>
  </div>

  <%= form_with model:@shipping_address, url: shipping_address_path, local:true do |f| %>

  <div class="row mt-md-5">
    <div class="col-md-3">
      郵便番号(ハイフンなし)
    </div>
    <div class="col-md-7">
      <%= f.text_field :postcode %>
    </div>
  </div>
  <div class="row mt-md-3">
    <div class="col-md-3">
      住所
    </div>
    <div class="col-md-7">
      <%= f.text_field :address, :size=> 50 %>
    </div>
  </div>
  <div class="row mt-md-3">
    <div class="col-md-3">
      宛名
    </div>
    <div class="col-md-5">
      <%= f.text_field :name %>
    </div>
    <div class="col-md-3">
      <%= f.submit '変更内容を保存', class: 'btn btn-success btn-sm' %>
    </div>
  </div>
  <% end %>
</div>