<div class='container'>
  <div class='row'>
    <h4 class="col offset-md-1">商品編集</h4>
  </div>

  <%= form_with model: @product, url: admin_product_path, method: :patch, local:true do |f| %>
  <div class='row mt-md-5'>
    <div class="col-md-2 offset-md-2 ">
      商品画像
    </div>
    <div class="col-md-8">
      <%= f.attachment_field :image %>
    </div>
  </div>

  <div class='row mt-md-3'>
    <div class="col-md-2 offset-md-2">
      商品名
    </div>
    <div class="col-md-8">
      <%= f.text_field :name, :size=> 40 %>
    </div>
  </div>

  <div class='row mt-md-3'>
    <div class="col-md-2 offset-md-2">
      商品説明
    </div>
    <div class="col-md-8">
      <%= f.text_area :description, size: "39x10" %>
    </div>
  </div>

  <div class='row mt-md-3'>
    <div class="col-md-2 offset-md-2">
      ジャンル
    </div>
    <div class="col-md-8">
        <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
    </div>
  </div>

  <div class='row mt-md-3'>
    <div class="col-md-2 offset-md-2">
      税抜価格
    </div>
    <div class="col-md-8">
      <%= f.text_field :price, :size=> 40 %>
    </div>
  </div>

  <div class='row mt-md-3'>
    <div class="col-md-2 offset-md-2">
      販売ステータス
    </div>
    <div class="col-md-4">
      <%= f.radio_button :is_active, :"販売中", checked: true %>
        <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
        <%= f.radio_button :is_active, :"販売停止中" %>
        <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>
    </div>
  </div>

  <div class="row mt-md-3">
    <div class="col-auto mx-auto">
      <%= f.submit '投稿', class: 'btn btn-success submit_botton' %></div>
  </div>
  <% end %>
</div>