<div class='container'>
  <div class='row'>
    <h4>商品編集</h4>
  </div>
  <div class='row'>
    <%= form_with model: @product, url: admin_product_path, method: :patch, local:true do |f| %>
      <h6>
        商品画像
        <%= f.attachment_field :image %>
      </h6>
      <h6>
        商品名
        <%= f.text_field :name %>
      </h6>
      <h6>
        商品説明
        <%= f.text_area :description %>
      </h6>
      <h6>
        ジャンル
        <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
      </h6>
      <h6>
        税抜価格
        <%= f.text_field :price %>
      </h6>
      <h6>
        販売ステータス
        <%= f.radio_button :is_active, :"販売中", checked: true %>
        <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
        <%= f.radio_button :is_active, :"販売停止中" %>
        <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>
      </h6>

      <%= f.submit '編集', class: 'btn btn-success btn-sm' %>
    <% end %>
  </div>

</div>