<div class='container'>
  <div class='row'>
    <h4 class='col offset-md-1 mb-md-5'>
      商品一覧
    </h4>
    <div class='mb-3 text-right'>
      <button type="button" class="btn btn-light shadow-sm rounded-circle p-0" style="width:2rem;height:2rem;">
        <%= link_to "＋", new_admin_product_path, class:"no-underline" %>
      </button>
    </div>
  </div>
  <div class='row'>
    <div class="col offset-md-1">
      <table class="table">
        <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
        </thead>

        <tbody>
          <% @products.each do |products| %>
            <tr>
              <td><%= products.id %></td>
              <td>
                <%= link_to admin_product_path(products.id) do %>
                  <%= products.name %>
                <% end %>
              </td>
              <td><%= products.price %></td>
              <td><%= products.genre.id %></td>
              <td><%= products.is_active %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mx-auto"><%= paginate @products %></div>
  </div>
</div>